:root {
    --default-font: "Roboto", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --heading-font: "Montserrat", sans-serif;
    --nav-font: "Open Sans", sans-serif;
}

/* Global Colors - The following color variables are used throughout the website. Updating them here will change the color scheme of the entire website */
:root {
    --background-color: #ffffff; /* Background color for the entire website, including individual sections */
    --default-color: #444444; /* Default color used for the majority of the text content across the entire website */
    --heading-color: #222222; /* Color for headings, subheadings and title throughout the website */
    --accent-color: #106eea; /* Accent color that represents your brand on the website. It's used for buttons, links, and other elements that need to stand out */
    --contrast-color: #ffffff; /* The contrast color is used for elements when the background color is one of the heading, accent, or default colors. Its purpose is to ensure proper contrast and readability when placed over these more dominant colors */
}

/* Nav Menu Colors - The following color variables are used specifically for the navigation menu. They are separate from the global colors to allow for more customization options */
:root {
    --nav-color: #222222; /* The default color of the main navmenu links */
    --nav-hover-color: #106eea; /* Applied to main navmenu links when they are hovered over or active */
    --nav-dropdown-background-color: #ffffff; /* Used as the background color for dropdown items that appear when hovering over primary navigation items */
    --nav-dropdown-color: #222222; /* Used for navigation links of the dropdown items in the navigation menu. */
    --nav-dropdown-hover-color: #106eea; /* Similar to --nav-hover-color, this color is applied to dropdown navigation links when they are hovered over. */
}

/* Smooth scroll */
:root {
    scroll-behavior: smooth;
}

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
    color: var(--default-color);
    background-color: var(--background-color);
    font-family: var(--default-font);
}

a {
    color: var(--accent-color);
    text-decoration: none;
    transition: 0.3s;
}

    a:hover {
        /*color: color-mix(in srgb, var(--accent-color), transparent 25%);*/
        color: rgba(var(--accent-color-rgb), 0.75);
        text-decoration: none;
    }

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--heading-color);
    font-family: var(--heading-font);
}

/*--------------------------------------------------------------
# TopBar 
--------------------------------------------------------------*/

.topbar {
    background-color: blueviolet;
    height: 28px;
    padding: 0;
    font-size: 14px;
    transition: all 1s;
}

    .topbar .contact-info i {
        font-style: normal;
        color: var(--contrast-color);
    }

        .topbar .contact-info i a,
        .topbar .contact-info i span {
            padding-left: 5px;
            color: var(--contrast-color);
        }

@media (max-width: 575px) {
    .topbar .contact-info i a,
    .topbar .contact-info i span {
        font-size: 13px;
    }
}

.topbar .contact-info i a {
    line-height: 0;
    transition: 0.3s;
}

    .topbar .contact-info i a:hover {
        color: var(--contrast-color);
        text-decoration: underline;
    }

.topbar .social-links a {
    color: color-mix(in srgb, var(--contrast-color), transparent 40%);
    line-height: 0;
    transition: 0.3s;
    margin-left: 20px;
}

    .topbar .social-links a:hover {
        color: var(--contrast-color);
    }

/*--------------------------------------------------------------
# Global Header
--------------------------------------------------------------*/

.header {
    flex: 0 0 auto; /* No crecer, no encoger, altura automática */
    background-color: var(--background-color);
    color: var(--default-color);
    transition: all 0.5s;
    z-index: 997;
    height: 5rem;
}
/*
    .header .topbar {
        background-color: blueviolet;
        height: 28px;
        padding: 0;
        font-size: 14px;
        transition: all 1s;
    }*/


    .header .branding {
        min-height: 60px;
        padding: 10px 0;
    }

    .header .logo {
        line-height: 1;
    }

        .header .logo img {
            max-height: 50px;
            margin-right: 8px;
        }

        /*.header .logo h1 {
            font-size: 30px;
            margin: 0;
            font-weight: 600;
            color: var(--heading-color);
        }

        .header .logo span {
            color: var(--accent-color);
            font-size: 30px;
            font-weight: 700;
        }*/

    /*.header .btn-getstarted,
    .header .btn-getstarted:focus {
        color: var(--contrast-color);
        background: var(--accent-color);
        font-size: 14px;
        padding: 8px 25px;
        margin: 0 0 0 30px;
        border-radius: 50px;
        transition: 0.3s;
    }

        .header .btn-getstarted:hover,
        .header .btn-getstarted:focus:hover {
            color: var(--contrast-color);*/
            /*background: color-mix(in srgb, var(--accent-color), transparent 15%);*/
            /*background: linear-gradient(to bottom, var(--accent-color) 15%, transparent);
        }*/


.scrolled .header {
    box-shadow: 0px 0 18px color-mix(in srgb, var(--default-color), transparent 85%);
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Navmenu - Desktop */
@media (min-width: 1200px) {
    .navmenu {
        padding: 0;
    }

        .navmenu ul {
            margin: 0;
            padding: 0;
            display: flex;
            list-style: none;
            align-items: center;
        }

        .navmenu li {
            position: relative;
        }

        .navmenu a,
        .navmenu a:focus {
            color: var(--nav-color);
            padding: 18px 15px;
            font-size: 15px;
            font-family: var(--nav-font);
            font-weight: 500;
            display: flex;
            align-items: center;
            justify-content: space-between;
            white-space: nowrap;
            transition: 0.3s;
        }

            .navmenu a i,
            .navmenu a:focus i {
                font-size: 12px;
                line-height: 0;
                margin-left: 5px;
                transition: 0.3s;
            }

        .navmenu li:last-child a {
            padding-right: 0;
        }

        .navmenu li:hover > a,
        .navmenu .active,
        .navmenu .active:focus {
            color: var(--nav-hover-color);
        }

       
}

/* Navmenu - Mobile */
@media (max-width: 1199px) {
    .mobile-nav-toggle {
        color: var(--nav-color);
        font-size: 28px;
        line-height: 0;
        margin-right: 10px;
        cursor: pointer;
        transition: color 0.3s;
    }

    .navmenu {
        padding: 0;
        z-index: 9997;
    }

        .navmenu ul {
            display: none;
            position: absolute;
            inset: 60px 20px 20px 20px;
            padding: 10px 0;
            margin: 0;
            border-radius: 6px;
            background-color: var(--nav-dropdown-background-color);
            overflow-y: auto;
            transition: 0.3s;
            z-index: 9998;
            box-shadow: 0px 0px 30px color-mix(in srgb, var(--default-color), transparent 90%);
        }

        .navmenu a,
        .navmenu a:focus {
            color: var(--nav-dropdown-color);
            padding: 10px 20px;
            font-family: var(--nav-font);
            font-size: 17px;
            font-weight: 500;
            display: flex;
            align-items: center;
            justify-content: space-between;
            white-space: nowrap;
            transition: 0.3s;
        }

            .navmenu a i,
            .navmenu a:focus i {
                font-size: 12px;
                line-height: 0;
                margin-left: 5px;
                width: 30px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                transition: 0.3s;
                background-color: color-mix(in srgb, var(--accent-color), transparent 90%);
            }

                .navmenu a i:hover,
                .navmenu a:focus i:hover {
                    background-color: var(--accent-color);
                    color: var(--contrast-color);
                }

            .navmenu a:hover,
            .navmenu .active,
            .navmenu .active:focus {
                color: var(--nav-dropdown-hover-color);
            }

                .navmenu .active i,
                .navmenu .active:focus i {
                    background-color: var(--accent-color);
                    color: var(--contrast-color);
                    transform: rotate(180deg);
                }

       /* .navmenu .dropdown ul {
            position: static;
            display: none;
            z-index: 99;
            padding: 10px 0;
            margin: 10px 20px;
            background-color: var(--nav-dropdown-background-color);
            border: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
            box-shadow: none;
            transition: all 0.5s ease-in-out;
        }*/

          /*  .navmenu .dropdown ul ul {
                background-color: rgba(33, 37, 41, 0.1);
            }

        .navmenu .dropdown > .dropdown-active {
            display: block;
            background-color: rgba(33, 37, 41, 0.03);
        }*/

    .mobile-nav-active {
        overflow: hidden;
    }

        .mobile-nav-active .mobile-nav-toggle {
            color: #fff;
            position: absolute;
            font-size: 32px;
            top: 15px;
            right: 15px;
            margin-right: 0;
            z-index: 9999;
        }

        .mobile-nav-active .navmenu {
            position: fixed;
            overflow: hidden;
            inset: 0;
            background: rgba(33, 37, 41, 0.8);
            transition: 0.3s;
        }

            .mobile-nav-active .navmenu > ul {
                display: block;
            }
}




/*
    PARTE ARRIBA DEL HEADER
*//*
.header .topbar .contact-info i {
    font-style: normal;
    color: var(--contrast-color);
}

    .header .topbar .contact-info i a,
    .header .topbar .contact-info i span {
        padding-left: 5px;
        color: var(--contrast-color);
    }*/

/*@media (max-width: 575px) {

    .header .topbar .contact-info i a,
    .header .topbar .contact-info i span {
        font-size: 13px;
    }
}*/

/*.header .topbar .contact-info i a {
    line-height: 0;
    transition: 0.3s;
}

    .header .topbar .contact-info i a:hover {
        color: var(--contrast-color);
        text-decoration: underline;
    }

.header .topbar .social-links a {
    color: color-mix(in srgb, var(--contrast-color), transparent 40%);
    line-height: 0;
    transition: 0.3s;
    margin-left: 20px;
}

    .header .topbar .social-links a:hover {
        color: var(--contrast-color);
    }

*/



/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
    width: 100%;
    min-height: 75vh;
    position: relative;
    padding: 60px 0;
    display: flex;
    align-items: center;
    background: url("../img/digitalbee-fondo_02.jpg") top left;
    background-size: cover;
}

    .hero:before {
        content: "";
        background: color-mix(in srgb, var(--contrast-color), transparent 30%);
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
    }

    .hero .container {
        position: relative;
    }

    .hero h1 {
        margin: 0;
        font-size: 48px;
        font-weight: 700;
        line-height: 56px;
    }

        .hero h1 span {
            color: var(--accent-color);
        }

    .hero p {
        color: rgba(var(--default-color-rgb), 0.7);
        margin: 5px 0 30px 0;
        font-size: 20px;
        font-weight: 400;
    }

    .hero .btn-get-started {
        color: var(--contrast-color);
        background: var(--accent-color);
        font-family: var(--heading-font);
        font-weight: 400;
        font-size: 16px;
        letter-spacing: 1px;
        display: inline-block;
        padding: 12px 30px;
        border-radius: 4px;
        transition: 0.5s;
        /*box-shadow: 0 8px 28px color-mix(in srgb, var(--accent-color), transparent 80%);*/
        box-shadow: 0 8px 28px rgba(var(--accent-color-rgb), 0.2);
    }

        .hero .btn-get-started:hover {
            color: var(--contrast-color);
            background: color-mix(in srgb, var(--accent-color), transparent 15%);
            box-shadow: 0 8px 28px color-mix(in srgb, var(--accent-color), transparent 55%);
        }

    /*.hero .btn-watch-video {
        font-size: 16px;
        transition: 0.5s;
        margin-left: 25px;
        color: var(--default-color);
        font-weight: 600;
    }

        .hero .btn-watch-video i {
            color: var(--accent-color);
            font-size: 32px;
            transition: 0.3s;
            line-height: 0;
            margin-right: 8px;
        }

        .hero .btn-watch-video:hover {
            color: var(--accent-color);
        }

            .hero .btn-watch-video:hover i {
                color: color-mix(in srgb, var(--accent-color), transparent 15%);
            }*/

    .hero .animated {
        animation: up-down 2s ease-in-out infinite alternate-reverse both;
    }

@media (max-width: 640px) {
    .hero h1 {
        font-size: 28px;
        line-height: 36px;
    }

    .hero p {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
    }

    .hero .btn-get-started,
    .hero .btn-watch-video {
        font-size: 13px;
    }
}

@keyframes up-down {
    0% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(-10px);
    }
}


.read-more {
    color: var(--accent-color);
    font-family: var(--heading-font);
    font-weight: 500;
    font-size: 15px;
    /*letter-spacing: 1px;*/
    padding: 8px 28px;
    border-radius: 5px;
    transition: 0.3s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--accent-color);
}
.read-more i {
    font-size: 18px;
    margin-left: 5px;
    line-height: 0;
    transition: 0.3s;
}

.read-more:hover {
    background: var(--accent-color);
    color: var(--contrast-color);
}

    .read-more:hover i {
        transform: translate(5px, 0);
    }

/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/
.about ul {
    list-style: none;
    padding: 0;
}

    .about ul li {
        padding-bottom: 5px;
        display: flex;
        align-items: center;
    }

    .about ul i {
        font-size: 20px;
        padding-right: 4px;
        color: var(--accent-color);
    }
/*
.about .read-more {
    color: var(--accent-color);
    font-family: var(--heading-font);
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    padding: 8px 28px;
    border-radius: 5px;
    transition: 0.3s;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--accent-color);
}

    .about .read-more i {
        font-size: 18px;
        margin-left: 5px;
        line-height: 0;
        transition: 0.3s;
    }

    .about .read-more:hover {
        background: var(--accent-color);
        color: var(--contrast-color);
    }

        .about .read-more:hover i {
            transform: translate(5px, 0);
        }
*/







/*--------------------------------------------------------------
# Global Page Titles & Breadcrumbs
--------------------------------------------------------------*/
.page-title {
    --background-color: color-mix(in srgb, var(--default-color), transparent 96%);
    color: var(--default-color);
    background-color: var(--background-color);
    padding: 20px 0;
    position: relative;
}

    .page-title h1 {
        font-size: 28px;
        font-weight: 700;
        margin: 0;
    }

    .page-title .breadcrumbs ol {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        padding: 0 0 10px 0;
        margin: 0;
        font-size: 14px;
    }

        .page-title .breadcrumbs ol li + li {
            padding-left: 10px;
        }

            .page-title .breadcrumbs ol li + li::before {
                content: "/";
                display: inline-block;
                padding-right: 10px;
                color: color-mix(in srgb, var(--default-color), transparent 70%);
            }


/*--------------------------------------------------------------
# Global Sections
--------------------------------------------------------------*/
section,
.section {
    color: var(--default-color);
    background-color: var(--background-color);
    padding: 60px 0;
    scroll-margin-top: 88px;
    overflow: clip;
}

@media (max-width: 1199px) {

    section,
    .section {
        scroll-margin-top: 66px;
    }
}
/*--------------------------------------------------------------
# Global Section Titles
--------------------------------------------------------------*/
.section-title {
    text-align: center;
    padding-bottom: 60px;
    position: relative;
}

    .section-title h2 {
        font-size: 32px;
        font-weight: 700;
        margin-bottom: 20px;
        padding-bottom: 20px;
        text-transform: uppercase;
        position: relative;
    }

        .section-title h2:before {
            content: "";
            position: absolute;
            display: block;
            width: 160px;
            height: 1px;
            background: color-mix(in srgb, var(--default-color), transparent 60%);
            left: 0;
            right: 0;
            bottom: 1px;
            margin: auto;
        }

        .section-title h2::after {
            content: "";
            position: absolute;
            display: block;
            width: 60px;
            height: 3px;
            background: var(--accent-color);
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
        }

    .section-title p {
        margin-bottom: 0;
    }



/*-----------------------------------
    SIDE BAR
------------------------------------*/
:root {
    --primary-color: #272727;
    --text: white;
    --white: #FFFFFF;
    --sidebar-primary: #605DFF;
    --sidebar-primary-light: #5DA8FF;
    --sidebar-primary-hover: #605DFF10;
    --sidebar-background: #FCFCFD;
    --background: #F1F3FF;
    --full-bg: #C7D2DC;
    --text-link: #424662;
    --headline: #7686BC;
    --cta-background: #EBF3FF;
    --cta-background-darker: #CFD5FF;
    --cta-background-border: #CDD2F3;
    --cta-text: #1C2035;
    --neutral: #E6E8F0;
    --expand-button: #4A516D;
    --logout: #FA7575;
    --text: #303651;
    --text-lighter: #697089;
}

.sidebar {
    flex: 0 0 auto; /* No crecer, no encoger, altura automática */
    /*flex: 0 0 200px;*/ /* Ancho fijo del sidebar */
    width: 200px; /* Ancho fijo del sidebar */
    background-color: #f4f4f4;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    overflow-y: auto; /* Hace que el sidebar sea scrollable si es necesario */

    position: sticky;
    top: 0;
    left: 0;
    min-height: 53.75rem;
    height: 100%;
    padding: 1rem 0;
    border-radius: 1rem;
    max-width: 18rem;
    display: flex;
    color: var(--white);
    flex-direction: column;
    background: var(--sidebar-background);
    transition: max-width 0.1s ease-in-out;
    /*overflow-y: auto;*/ /* Hace que el sidebar sea scrollable si es necesario */
}


html {
    height: 90%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body.collapsed .sidebar {
    max-width: 5rem;
    display: flex;
    align-items: center;
}

body.collapsed .hide {
    position: absolute;
    display: none;
}

/*? search wrapper */
.search__wrapper {
    padding: 0 1rem;
    position: relative;
}

    .search__wrapper input {
        background: var(--background);
        height: 2.5rem;
        width: 100%;
        border-radius: 0.5rem;
        padding: 0 0.5rem;
        padding-left: 2rem;
        flex-grow: 1;
        outline: none;
        border: none;
    }

    .search__wrapper svg {
        position: absolute;
        z-index: 2;
        top: 50%;
        left: 1.625rem;
        transform: translateY(-50%);
        pointer-events: none;
        right: 1.5rem;
    }

body.collapsed .search__wrapper svg {
    top: 50%;
    left: 50%;
    right: auto;
    transform: translate(-50%, -50%);
    color: var(--text-link);
    stroke: var(--text-link);
}

.search__wrapper input::-webkit-input-placeholder {
    color: var(--text-link);
    white-space: nowrap;
}

body.collapsed .search__wrapper input {
    max-width: 2.5rem;
}

    body.collapsed .search__wrapper input::-webkit-input-placeholder {
        color: transparent;
    }

/*? sidebar top */

.sidebar-top-wrapper {
    display: flex;
}

.sidebar-top {
    position: relative;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 4rem;
    padding-bottom: 1rem;
}

body.collapsed .sidebar-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.logo__wrapper {
    display: flex;
    align-items: center;
    color: var(--text-link);
    font-weight: 900;
    text-decoration: none;
    font-size: 1.125rem;
    gap: 1rem;
    padding: 0 1rem;
}

.logo-small {
    height: 3rem;
    width: 6rem;
    overflow: hidden;
    object-fit: cover;
}


/*? menu links */
.sidebar-links {
    margin-top: 1rem;
    width: 100%;
}

    .sidebar-links h2 {
        margin-left: 1rem;
        color: var(--headline);
        font-size: 1rem;
        font-weight: 500;
        line-height: 1.125rem;
        margin-bottom: 0.5rem;
        animation: fadeIn 0.2s ease-in-out;
    }

body.collapsed h2 {
    display: none;
}

.sidebar-links ul {
    list-style-type: none;
    position: relative;
    display: flex;
    column-gap: 0.5rem;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

.sidebar-links li {
    color: var(--text-link);
}

body.collapsed .sidebar-links li {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*.sidebar-links li svg {
    stroke: var(--text-link);
    width: 1.75rem;
    height: 1.75rem;
    min-width: 1.75rem;
}

.sidebar-links li a:hover svg {
    color: var(--sidebar-primary);
}*/

.sidebar-links li a:hover {
    color: var(--sidebar-primary);
}

.sidebar-links li a {
    color: var(--text-link);
    flex-grow: 1;
    padding: 0 1rem;
    font-size: 1.25rem;
    display: flex;
    gap: 1.75rem;
    justify-content: center;
    align-items: center;
    height: 3.5rem;
    text-decoration: none;
    transition: background-color 0.2s ease-in-out;
}

    .sidebar-links li a .link {
        flex-grow: 1;
        overflow: hidden;
        white-space: nowrap;
        animation: fadeIn 0.2s ease-in-out;
    }

    .sidebar-links li a img {
        height: 2.125rem;
        width: 2.125rem;
    }

.sidebar-links .active:hover {
    background-color: var(--sidebar-primary-hover);
}

.sidebar-links .active {
    text-decoration: none;
    background-color: var(--sidebar-primary-hover);
    color: var(--text-link);
}

   /* .sidebar-links .active svg {
        stroke: var(--text-link);
    }*/

/*.sidebar-links li a:hover svg {
    stroke: var(--sidebar-primary);
    color: var(--sidebar-primary);
}
*/
.sidebar-links li a:hover {
    color: var(--sidebar-primary);
}

/* ?tooltip */
.tooltip {
    position: relative;
}

    .tooltip .tooltip__content::after {
        content: " ";
        position: absolute;
        top: 50%;
        left: 0%;
        margin-left: -0.625rem;
        margin-top: -0.3125rem;
        border-width: 0.3125rem;
        border-style: solid;
        border-color: transparent var(--cta-text) transparent transparent;
    }

    .tooltip .tooltip__content {
        visibility: hidden;
        background-color: var(--cta-text);
        color: var(--white);
        text-align: center;
        border-radius: 0.375rem;
        padding: 0.375rem 0.75rem;
        position: absolute;
        z-index: 1;
        left: 5.625rem;
    }

.collapsed .tooltip:hover .tooltip__content {
    visibility: visible;
}

/* ?sidebar action */

.sidebar__action__wrapper {
    overflow-x: hidden;
    margin: 0 1rem;
    margin-top: auto;
}

.sidebar__action {
    padding: 1rem;
    background-color: var(--cta-background);
    border-radius: 1rem;
    min-width: 1rem;
    color: var(--cta-text);
    animation: fadeIn 0.2s ease-in-out;
}

    .sidebar__action p {
        margin-bottom: 0.75rem;
        margin-top: 0.5rem;
        color: var(--text)
    }

    .sidebar__action h2 {
        margin-bottom: 0.5rem;
    }

    .sidebar__action button {
        border: 0;
        margin-top: 0.5rem;
        width: 100%;
        cursor: pointer;
        font-weight: 600;
        height: 2.612rem;
        font-size: 1.125rem;
        color: var(--neutral);
        border-radius: 0.75rem;
        background: linear-gradient(90deg, var(--sidebar-primary) -0.38%, var(--sidebar-primary-light) 100.02%);
    }

    .sidebar__action .progress-bar {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
        font-size: larger;
        display: flex;
        font-weight: 600;
        align-items: center;
        justify-content: center;
        background: radial-gradient(closest-side, var(--cta-background) 79%, transparent 80% 100%), conic-gradient(var(--sidebar-primary) 60%, var(--cta-background-darker) 0);
        margin-bottom: 1rem;
    }

body.collapsed .sidebar__action {
    display: none;
}


/*? profile part */
.sidebar__profile {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    gap: 0.75rem;
    flex-direction: row;
    padding: 0 1rem;
    color: var(--text-link);
    overflow-x: hidden;
    min-height: 2.6125rem;
}

.avatar__wrapper {
    position: relative;
    display: flex;
}

.avatar {
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    object-fit: cover;
    cursor: pointer;
    border-radius: 50%;
}

.avatar__name {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    white-space: nowrap;
    animation: fadeIn 0.2s ease-in-out;
}

.user-name {
    font-weight: 600;
    text-align: left;
    color: var(--text);
    animation: fadeIn 0.2s ease-in-out;
}

.email {
    color: var(--text-lighter);
    font-size: 0.8125rem;
    animation: fadeIn 0.2s ease-in-out;
}

.logout {
    animation: fadeIn 0.2s ease-in-out;
    margin-left: auto;
}

    .logout svg {
        color: var(--logout);
    }

body.collapsed .logout {
    display: none;
}

/*? Expand button */

.expand-btn {
    position: absolute;
    display: grid;
    place-items: center;
    cursor: pointer;
    right: -1rem;
    border: 1px solid var(--cta-background-border);
    background-color: var(--background);
    z-index: 2;
    width: 2rem;
    height: 2rem;
    border-radius: 0.5rem;
}

    .expand-btn svg {
        transform: rotate(-180deg);
        stroke: var(--expand-button);
        width: 1.25rem;
        height: 1.25rem;
    }

body.collapsed .expand-btn svg {
    transform: rotate(-360deg);
}

.bottom-links {
    margin-top: auto;
}

@keyframes fadeIn {
    from {
        width: 0;
        opacity: 0;
    }

    to {
        opacity: 1;
        width: 100%;
    }
}













.page {
    position: relative;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row ::deep a, .top-row ::deep .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

        .top-row ::deep a:hover, .top-row ::deep .btn-link:hover {
            text-decoration: underline;
        }

        .top-row ::deep a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }

@media (max-width: 640.98px) {
    .top-row {
        justify-content: space-between;
    }

        .top-row ::deep a, .top-row ::deep .btn-link {
            margin-left: 0;
        }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

        .top-row.auth ::deep a:first-child {
            flex: 1;
            text-align: right;
            width: 0;
        }

    .top-row, article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
