@page "/states/edit/{StateId:int}"

<h3>Editar Provincia</h3>

@if (state is null)
{
    <Loading />
}
else
{
    <FormWithName @ref="stateForm" Label="Provincia:" Model="state" OnValidSubmit="SaveAsync" ReturnAction="Return" />
}
