<AuthorizeView>
    <Authorized>
        <div class="d-flex align-items-center">
            <span class="me-2">Bienvenido <a href="EditUser" class="me-2">@context.User.Identity!.Name</a></span>
            <a href="Logout" class="btn btn-outline-primary">Cerrar Sesión</a>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="d-flex align-items-center">
            <a href="Register" class="btn btn-primary me-3">Registro</a>
            <a href="Login" class="btn btn-outline-primary"><span>Iniciar Sesión</span><i class="bi bi-box-arrow-in-right"></i></a>
        </div>
    </NotAuthorized>
</AuthorizeView>