@page "/"

@layout MainHomeLayout

<div class="align-content-center justify-content-center">
    <h1>Pagina principal</h1>
    <h2>Cuando por Aqui tengo los botones que tambien implementan "layout HomeLayout" que m ellevana /login y /register</h2>
    <a href="/home" class="bg-light">Ingresa</a>

</div>
