@* @page "/page" 

<div class="page-content">
    <!-- Contenido específico de la página -->
    <h1>Página con Segundo Layout</h1>
    <p>Contenido de la página con segundo layout.</p>
</div>



<style>
    /* Estilo para el contenido específico de la página */
    .page-content {
        padding: 20px; /* Espaciado interno */
        background-color: #fff; /* Fondo blanco */
        border-radius: 8px; /* Bordes redondeados */
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra ligera */
    }

        .page-content h1 {
            font-size: 24px;
            color: #333;
        }

        .page-content p {
            font-size: 16px;
            line-height: 1.6;
            color: #666;
        }
</style>

<div>
    <header id="header" class="header">

        <div class="branding d-flex align-items-center">

            <div class="container position-relative d-flex align-items-center justify-content-between">
                <a href="/" class="logo d-flex align-items-center">
                    <img src="assets/img/logo-menu_comprimido.jpg" alt="">
                </a>

                <AuthLinks />

            </div>

        </div>

    </header>

    <SideBar />
    
</div> *@
