@page "/categories"

<div class="card">
    <div class="card-header">
        <span>
            <i class="bi bi-box2" /> Categorias
            <a class="btn btn-sm btn-primary float-end" href="/category/create"><i class="bi bi-plus-square" /> Nueva</a>
        </span>
    </div>
    <div class="card-body">
        <Filter PlaceHolder="Buscar Categoria..." Callback=@FilterCallBack />
        <GenericList MyList="Categories">
            <Body>
                <Pagination CurrentPage="currentPage"
                            TotalPages="totalPages"
                            SelectedPage="SelectedPageAsync"
                            RecordsNumber="SelectedRecordsNumberAsync" />
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Limite de Ganancia</th>
                            <th>Sector</th>
                            <th>Pais</th>
                            
                            

                            <th style="width:168px"></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var objeto in Categories!)
                        {
                            <tr>
                                <td>
                                    @objeto.Name
                                </td>
                                <td>
                                    @String.Format("{0:N0}", objeto.RevenueLimit)
                                </td>
                                <td>
                                    Sector
                                </td>
                                <td>
                                    @objeto.Country.Name 
                                </td>
                                
                                

                                <td>
                                    <a href="/category/edit/@objeto.Id" class="btn btn-warning btn-sm"><i class="bi bi-pencil" /> Editar</a>
                                    <button class="btn btn-danger btn-sm" @onclick=@(() => Delete(objeto.Id))><i class="bi bi-trash" /> Borrar</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </Body>
        </GenericList>
    </div>
</div>
