@page "/introduction"

@layout MainHomeLayout

<div class="card align-items-center m-5">
    <div class="card-header">
        <h2>Introducción al Test</h2>
    </div>
    <div class="card-body">
        <p>Bienvenido al test. A continuación, encontrarás una breve introducción sobre el test que vas a realizar.</p>
        <p>Este test tiene como objetivo evaluar tus conocimientos en [tema]. Asegúrate de leer cada pregunta cuidadosamente y seleccionar la respuesta que consideres correcta.</p>
        <p>El test consta de [número de preguntas] preguntas. Puedes navegar entre las preguntas utilizando los botones "Siguiente" y "Anterior".</p>
        <p>Al finalizar el test, recibirás un resultado basado en tus respuestas.</p>


        <a class="btn btn-sm btn btn-primary float-end" href="/test"><i class="bi bi-pen" /> Comenzar Test</a>
       @* <button class="btn btn-primary" href="/test">Comenzar Test</button> *@
    </div>
</div>
