@inherits LayoutComponentBase
<div >
    @* <div>
        <SideBar /> 

    </div>
 *@
    <header id="header" class="header">

        <div class="topbar d-flex align-items-center">
            <div class="container d-flex justify-content-center justify-content-md-between">
                <div class="contact-info d-flex align-items-center">
                    <i class="bi bi-envelope d-flex align-items-center"><a href="#">digitalBee_contacto@yopmail.com</a></i>
                    <i class="bi bi-phone d-flex align-items-center ms-4"><span>+54 3492 607557</span></i>
                </div>
                
                <div class="social-links d-none d-md-flex align-items-center">
                    <a href="#" class="twitter"><i class="bi bi-twitter-x"></i></a>
                    <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                    <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                    <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                </div>
            </div>
        </div>

        <div class="branding d-flex align-items-center">

            <div class="container position-relative d-flex align-items-center justify-content-between">
                <a href="/" class="logo d-flex align-items-center">
                    <img src="assets/img/logo-menu_comprimido.jpg" alt="">
                </a>

                <nav id="navmenu" class="navmenu">
                    @* <ul>
                        <li><a href="#hero" class="active">Test</a></li>
                        <li><a href="#about">Nosotros</a></li>
                        <li><a href="#services">Servicios</a></li>
                        <li><a href="#contact">Contacto</a></li>
                    </ul> *@
                    <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
                </nav>
                
                @* <a class="btn-getstarted" href="/Login">Comenzar Test</a> *@
            </div>

        </div>

    </header>

     <main>
        <div class="top-row px-4">
           @* <AuthLinks /> *@
            @* <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">Acerca de</a> *@
        </div> 

        @* <AuthLinks /> *@

        @* ACA PONGO EL HEADER *@
        

        <article>
            
            @Body
        </article> 
    </main> 
</div>
